<div class="snippet head">Twitter Social Media Posting Template</div>
<div class="snippet">
    <span onclick="gui.snippetclip(this)" class="snippet twig">title</span> - Post title
</div>
<div class="snippet">
    <span onclick="gui.snippetclip(this)" class="snippet twig">content</span> - Post content
</div>
<div class="snippet">
    <span onclick="gui.snippetclip(this)" class="snippet twig">category</span> - Category Title
</div>
<div class="snippet">
    <span onclick="gui.snippetclip(this)" class="snippet twig">content|short</span> - Post short content version
</div>
<div class="snippet">
    <span onclick="gui.snippetclip(this)" class="snippet twig">tags</span> - Post keywords "#key1 #key2 #key3..."
</div>
<div class="snippet">
    <span onclick="gui.snippetclip(this)" class="snippet twig">url</span> - Full post URL
</div>
<div class="snippet">
    <span onclick="gui.snippetclip(this)" class="snippet twig">author</span> - Post author username
</div>