<div class="snippet head">YouTube Video Import Template</div>
<div class="snippet">
    <span onclick="gui.snippetclip(this)" class="snippet twig">title</span> - Video title
</div>
<div class="snippet">
    <span onclick="gui.snippetclip(this)" class="snippet twig">description</span> - Video description
</div>
<div class="snippet">
    <span onclick="gui.snippetclip(this)" class="snippet twig">player</span> - YouTube Videplayer
</div>