.nav-wrapper {
    padding: 0 0 0 20px;
}

nav .progress {
    margin: 0 auto;
}

nav .material-icons, nav .fa {
    display: inline !important;
    vertical-align: top;
}

nav .fa {
    font-size: inherit !important;
    margin-right: 5px !important;
}