.group-icon
  width: 14px !important
  height: 14px !important

.rating
  color: #666666
  .md
    color: green
  .lg
    color: darkgreen
  .sm
    color: red

.avatar
  width: 100%
  margin: 5px auto 10px auto !important
  &.sm
    vertical-align: top
    max-height: 36px
    max-width: 36px
    width: 36px
    height: 36px
    border-radius: 50%
    display: inline-block
    margin: 5px 20px

.profile-photo
  max-width: 200px !important
  width: 200px
  margin: 0 auto
  display: block