@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic&subset=latin,cyrillic-ext);
#content {
  background: rgba(255, 255, 255, 0.3);
  max-width: 1100px;
  margin: 0 auto 80px auto; }
  @media screen and (max-width: 1080px) {
    #content {
      margin-bottom: 20px !important; } }

.content {
  padding: 10px 0 0 0; }

#navigation {
  display: block;
  width: 100%;
  height: 62px;
  margin: 0 0 20px 0;
  padding: 5px 20px;
  background: url("/theme/greenlab/img/bg.png") no-repeat;
  background-position: center center;
  background-size: cover;
  border-bottom: 2px solid #444444;
  -webkit-box-shadow: 0 1px 2px #ccc;
  -moz-box-shadow: 0 1px 2px #ccc;
  box-shadow: 0 1px 2px #ccc; }
  #navigation #logo {
    font-size: 24px;
    line-height: 48px;
    color: #333;
    font-weight: 600; }
    #navigation #logo img {
      float: left;
      margin-right: 10px;
      max-height: 48px; }
  #navigation .menu a {
    display: inline-block;
    line-height: 48px;
    margin: 0 30px 0 0;
    color: #444444;
    font-weight: 600;
    cursor: pointer; }

#footer {
  border-top: 2px solid #444444;
  background: url("/theme/greenlab/img/bg.png") no-repeat;
  background-position: center center;
  background-size: cover;
  display: block;
  width: 100%;
  height: 300px;
  -webkit-box-shadow: 0 1px 2px #ccc;
  -moz-box-shadow: 0 1px 2px #ccc;
  box-shadow: 0 1px 2px #ccc; }
  #footer p {
    margin: 5px 0;
    padding: 5px 20px;
    font-size: 12px; }
  #footer ul {
    margin: 0;
    padding: 0; }
    #footer ul li {
      display: block;
      list-style: none;
      margin: 5px 0; }
      #footer ul li a {
        display: block;
        color: #666666;
        padding-left: 35px;
        text-decoration: none; }
        #footer ul li a:hover {
          border-bottom: 1px dotted dodgerblue; }
  #footer .headline {
    width: 95%;
    font-size: 16px;
    border-bottom: 1px dashed #444444;
    display: block;
    margin: 10px auto;
    padding: 5px 5px 5px 10px;
    color: #444;
    font-weight: 600; }

.ulogin {
  padding: 8px 0; }

.tab {
  margin: 15px 10px 10px 10px;
  background: #eeeeee;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px #ccc;
  -moz-box-shadow: 0 1px 2px #ccc;
  box-shadow: 0 1px 2px #ccc; }
  @media screen and (max-width: 1080px) {
    .tab {
      margin: 10px 10px !important; } }
  .tab header {
    color: #666666;
    font-weight: 600;
    padding: 8px 16px;
    background: #f5f5f5; }
  .tab .body {
    padding: 10px;
    min-height: 80px; }
  .tab .menu {
    display: block;
    margin: 0 0 4px 0; }
    .tab .menu:hover {
      text-decoration: none; }

.navigation {
  padding: 8px;
  background: #f5f5f5;
  border: 1px solid #eeeeee;
  margin: 5px 10px;
  -webkit-box-shadow: 0 1px 2px #ccc;
  -moz-box-shadow: 0 1px 2px #ccc;
  box-shadow: 0 1px 2px #ccc; }
  .navigation .menu {
    color: #666666;
    line-height: 22px; }
    .navigation .menu:after {
      color: #cacaca;
      content: " / "; }
    .navigation .menu.last:after {
      content: "" !important; }

form {
  margin: 0 10px 10px 10px; }
  form .form-group {
    background: #f5f5f5;
    padding: 20px 20px;
    margin: 0 0 10px 0;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px #ccc;
    -moz-box-shadow: 0 1px 2px #ccc;
    box-shadow: 0 1px 2px #ccc; }
    form .form-group.primary {
      background: lightcyan; }
    form .form-group label {
      margin: 0 0 5px 0;
      display: block;
      font-weight: bold;
      color: #666666;
      cursor: pointer; }
    form .form-group .help-block {
      font-size: 12px;
      font-style: italic;
      color: #888888; }

.captcha {
  cursor: pointer; }
  .captcha:hover {
    -webkit-box-shadow: 0 1px 2px #ccc;
    -moz-box-shadow: 0 1px 2px #ccc;
    box-shadow: 0 1px 2px #ccc; }

textarea,
select,
input {
  display: block;
  width: auto;
  padding: 6px 12px;
  border: 1px solid #cacaca;
  outline: none;
  border-radius: 2px; }
  textarea.wide,
  select.wide,
  input.wide {
    width: 100%;
    margin: 0 auto; }
  textarea:focus,
  select:focus,
  input:focus {
    border: 1px solid dodgerblue; }
  textarea[type="checkbox"],
  select[type="checkbox"],
  input[type="checkbox"] {
    display: inline !important; }

.btn {
  background: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  padding: 5px 10px;
  margin: 0 4px;
  cursor: pointer;
  color: darkblue;
  display: inline-block;
  -webkit-transition: box-shadow 0.2s;
  -moz-transition: box-shadow 0.2s;
  -ms-transition: box-shadow 0.2s;
  -o-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s; }
  .btn:disabled, .btn.disabled {
    border: 1px solid #d9d9d9;
    background: #fff;
    color: #666666; }
  .btn:hover:not(:disabled):not(.disabled) {
    text-decoration: none;
    border: 1px solid #d9d9d9;
    background: lightgreen;
    background: -moz-linear-gradient(top, #fff 0%, #f2f2f2 100%);
    background: -webkit-linear-gradient(top, #fff 0%, #f2f2f2 100%);
    background: linear-gradient(to bottom, #fff 0%, #f2f2f2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$to',GradientType=0);
    -webkit-box-shadow: 0 1px 2px #ccc;
    -moz-box-shadow: 0 1px 2px #ccc;
    box-shadow: 0 1px 2px #ccc; }
  .btn:active, .btn:focus {
    background: #fff !important; }
  .btn.inform {
    background: lightcyan;
    color: darkblue;
    border: 1px solid #adffff; }
    .btn.inform:hover:not(:disabled):not(.disabled) {
      text-decoration: none;
      border: 1px solid #94ffff;
      background: lightgreen;
      background: -moz-linear-gradient(top, lightcyan 0%, #94ffff 100%);
      background: -webkit-linear-gradient(top, lightcyan 0%, #94ffff 100%);
      background: linear-gradient(to bottom, lightcyan 0%, #94ffff 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$to',GradientType=0);
      -webkit-box-shadow: 0 1px 2px #ccc;
      -moz-box-shadow: 0 1px 2px #ccc;
      box-shadow: 0 1px 2px #ccc; }
    .btn.inform:active, .btn.inform:focus {
      background: lightcyan !important; }
  .btn.error {
    background: #ffbcbf;
    color: darkred;
    border: 1px solid #ff898e; }
    .btn.error:hover:not(:disabled):not(.disabled) {
      text-decoration: none;
      border: 1px solid #ff7076;
      background: lightgreen;
      background: -moz-linear-gradient(top, #ffbcbf 0%, #ff7076 100%);
      background: -webkit-linear-gradient(top, #ffbcbf 0%, #ff7076 100%);
      background: linear-gradient(to bottom, #ffbcbf 0%, #ff7076 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$to',GradientType=0);
      -webkit-box-shadow: 0 1px 2px #ccc;
      -moz-box-shadow: 0 1px 2px #ccc;
      box-shadow: 0 1px 2px #ccc; }
    .btn.error:active, .btn.error:focus {
      background: #ffbcbf !important; }
  .btn.success {
    background: #bbffbb;
    color: darkgreen;
    border: 1px solid #88ff88; }
    .btn.success:hover:not(:disabled):not(.disabled) {
      text-decoration: none;
      border: 1px solid #6fff6f;
      background: lightgreen;
      background: -moz-linear-gradient(top, #bbffbb 0%, #6fff6f 100%);
      background: -webkit-linear-gradient(top, #bbffbb 0%, #6fff6f 100%);
      background: linear-gradient(to bottom, #bbffbb 0%, #6fff6f 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$to',GradientType=0);
      -webkit-box-shadow: 0 1px 2px #ccc;
      -moz-box-shadow: 0 1px 2px #ccc;
      box-shadow: 0 1px 2px #ccc; }
    .btn.success:active, .btn.success:focus {
      background: #bbffbb !important; }
  .btn.warning {
    background: #ffe5cd;
    color: #bf6700;
    border: 1px solid #ffca9a; }
    .btn.warning:hover:not(:disabled):not(.disabled) {
      text-decoration: none;
      border: 1px solid #ffbd81;
      background: lightgreen;
      background: -moz-linear-gradient(top, #ffe5cd 0%, #ffbd81 100%);
      background: -webkit-linear-gradient(top, #ffe5cd 0%, #ffbd81 100%);
      background: linear-gradient(to bottom, #ffe5cd 0%, #ffbd81 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$to',GradientType=0);
      -webkit-box-shadow: 0 1px 2px #ccc;
      -moz-box-shadow: 0 1px 2px #ccc;
      box-shadow: 0 1px 2px #ccc; }
    .btn.warning:active, .btn.warning:focus {
      background: #ffe5cd !important; }
  .btn.sm {
    margin: 0 2px !important;
    padding: 3px 6px !important;
    font-size: 12px !important; }

.info .btn {
  vertical-align: top !important;
  margin: -3px 0 0 3px !important; }

.message {
  padding: 10px 20px;
  margin: 0 10px 10px 10px;
  background: #f5f5f5;
  font-weight: 600;
  color: #333;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px #ccc;
  -moz-box-shadow: 0 1px 2px #ccc;
  box-shadow: 0 1px 2px #ccc; }
  .message.center {
    text-align: center; }
  .message.success {
    background: lightgreen;
    border: 1px solid #6de96d; }
  .message.warning {
    background: lightsalmon;
    border: 1px solid #ff8351; }
  .message.info {
    background: lightcyan;
    border: 1px solid #b7ffff; }
  .message.error {
    background: lightcoral;
    border: 1px solid #ec5c5c; }

#comments-section header {
  font-size: 22px;
  margin: 15px 20px;
  font-weight: 600;
  color: #333333; }

.comment {
  background: #f5f5f5;
  display: block;
  width: auto;
  margin: 20px 0 10px 0;
  border-radius: 6px;
  padding: 6px;
  border: 1px solid #eee;
  -webkit-box-shadow: 0 1px 2px #ccc;
  -moz-box-shadow: 0 1px 2px #ccc;
  box-shadow: 0 1px 2px #ccc; }
  .comment.answer {
    margin-left: 70px; }
    .comment.answer:before {
      display: block;
      width: 60px;
      border: 1px dashed orange; }
  .comment textarea {
    min-height: 64px;
    width: 100%;
    margin: 0 20px 0 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .comment .author {
    height: 36px;
    line-height: 36px; }
    .comment .author .votes {
      margin: 0px -25px 0 0; }
    .comment .author .date {
      color: #666666;
      font-size: 12px; }
  .comment .photo {
    vertical-align: top;
    width: 70px; }
    .comment .photo img {
      display: block;
      width: 64px;
      margin: 0 auto; }
  .comment .comment-body {
    width: 100%;
    vertical-align: top;
    padding: 0 10px 10px 10px;
    text-align: justify; }

.options td,
.options > div {
  background: #effdff;
  border-top: 1px solid #d6faff;
  text-align: right;
  padding: 5px 10px 8px 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-box-shadow: 0 1px 2px #ccc;
  -moz-box-shadow: 0 1px 2px #ccc;
  box-shadow: 0 1px 2px #ccc; }
  .options td .notice,
  .options > div .notice {
    float: left;
    vertical-align: middle;
    margin: 3px 10px 0 10px; }

.group-icon {
  width: 14px !important;
  height: 14px !important; }

.rating {
  color: #666666; }
  .rating .md {
    color: green; }
  .rating .lg {
    color: darkgreen; }
  .rating .sm {
    color: red; }

.avatar {
  width: 100%;
  margin: 5px auto 10px auto !important; }
  .avatar.sm {
    vertical-align: top;
    max-height: 36px;
    max-width: 36px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: inline-block;
    margin: 5px 20px; }

.profile-photo {
  max-width: 200px !important;
  width: 200px;
  margin: 0 auto;
  display: block; }

.mce-tinymce.mce-container.mce-panel {
  width: 100% !important; }

.text-center {
  text-align: center; }
.text-left {
  text-align: left; }
.text-right {
  text-align: right; }
.text-justify {
  text-align: justify; }

.plain {
  padding-bottom: 10px; }
  .plain blockquote {
    background: lightcyan;
    border-left: 4px solid dodgerblue;
    padding: 4px 6px 4px 10px;
    margin: 5px 10px;
    border-radius: 2px;
    color: #444444; }
  .plain p {
    padding: 0;
    margin: 10px 0; }
  .plain pre, .plain code {
    display: block;
    margin: 5px 10px;
    background: #f5f5f5;
    border: 1px solid #e8e8e8;
    padding: 4px 6px;
    color: crimson;
    border-radius: 2px; }
  .plain code {
    background: #444444;
    border: 1px solid #2b2b2b;
    color: lightgreen; }
  .plain img {
    display: block;
    margin: 0 auto;
    max-width: 100%; }

.votes {
  line-height: 14px;
  width: 140px;
  text-align: center;
  color: green; }
  .votes .fa {
    background: #FFFFFF;
    cursor: pointer;
    margin: 0 5px;
    padding: 8px 10px;
    border: 1px solid #eeeeee; }
    .votes .fa:hover {
      border-radius: 3px;
      border: 1px solid #cacaca;
      background: #feffff;
      background: -moz-linear-gradient(top, #feffff 0%, #eaeaea 100%);
      background: -webkit-linear-gradient(top, #feffff 0%, #eaeaea 100%);
      background: linear-gradient(to bottom, #feffff 0%, #eaeaea 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#eaeaea',GradientType=0 ); }
    .votes .fa:active {
      background: #feffff; }
    .votes .fa-thumbs-up {
      color: dodgerblue; }
    .votes .fa-thumbs-down {
      color: darkorange; }

.fright {
  float: right;
  vertical-align: top; }

.fleft {
  float: left;
  vertical-align: top; }

.inline {
  display: inline-block; }

.media {
  padding: 0 10px 10px 10px; }
  .media .media-body {
    padding: 0 20px;
    border: 1px solid #eeeeee;
    border-left: none;
    border-right: none; }
  .media .votes {
    line-height: 80px; }
  .media .media-header {
    background: #eee; }
    .media .media-header img.image {
      width: 64px;
      float: left;
      display: inline-block;
      margin: 8px 10px 10px 10px; }
    .media .media-header a {
      font-weight: normal;
      font-size: 14px;
      text-decoration: none;
      color: #16559b; }
    .media .media-header h4 {
      padding: 14px 0 0 0;
      margin: 5px 0 0 0;
      color: #444;
      font-weight: normal;
      font-size: 18px !important; }
      .media .media-header h4 a {
        font-size: inherit; }
  .media .info {
    background: #eee;
    margin: 0;
    padding: 8px 20px;
    font-size: 14px;
    color: #666666; }

.topic-image {
  max-width: 36px;
  max-height: 36px; }

.topic-title {
  margin: -3px 0 0 0;
  padding: 0 0 0 0;
  font-weight: 600;
  color: #666666; }
  .topic-title sup {
    color: darkgreen; }

.topic-author {
  font-size: 12px;
  margin: 0 0 0 0;
  padding: 7px 0 0 0;
  font-weight: 600; }

.subject {
  border-bottom: 1px dotted dodgerblue;
  display: block;
  margin: 8px 0; }

.topic.media div[onclick] {
  cursor: pointer; }

.topic.media .votes {
  line-height: 52px; }

body,
html {
  padding: 0;
  margin: 0;
  height: 100%;
  min-height: 100%;
  min-width: 450px;
  overflow: auto;
  background: transparent;
  font-family: "Open Sans", sans-serif; }
  @media screen and (max-width: 1199px) {
    body,
    html {
      font-size: 18px; } }

body {
  position: relative; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

a {
  color: #16559b;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }
  a:visited, a:active {
    color: dodgerblue; }

.row {
  display: block;
  min-height: 50px;
  text-align: center; }

.clear {
  clear: both; }

.col-1 {
  vertical-align: top;
  text-align: left;
  display: inline-block;
  width: 9.5%; }
  @media screen and (max-width: 1080px) {
    .col-1 {
      width: 95%; } }
  @media screen and (max-width: 1080px) {
    .col-1.fright, .col-1.fleft {
      float: none; } }

.col-2 {
  vertical-align: top;
  text-align: left;
  display: inline-block;
  width: 19.5%; }
  @media screen and (max-width: 1080px) {
    .col-2 {
      width: 95%; } }
  @media screen and (max-width: 1080px) {
    .col-2.fright, .col-2.fleft {
      float: none; } }

.col-3 {
  vertical-align: top;
  text-align: left;
  display: inline-block;
  width: 29.5%; }
  @media screen and (max-width: 1080px) {
    .col-3 {
      width: 95%; } }
  @media screen and (max-width: 1080px) {
    .col-3.fright, .col-3.fleft {
      float: none; } }

.col-4 {
  vertical-align: top;
  text-align: left;
  display: inline-block;
  width: 39.5%; }
  @media screen and (max-width: 1080px) {
    .col-4 {
      width: 95%; } }
  @media screen and (max-width: 1080px) {
    .col-4.fright, .col-4.fleft {
      float: none; } }

.col-5 {
  vertical-align: top;
  text-align: left;
  display: inline-block;
  width: 49.5%; }
  @media screen and (max-width: 1080px) {
    .col-5 {
      width: 95%; } }
  @media screen and (max-width: 1080px) {
    .col-5.fright, .col-5.fleft {
      float: none; } }

.col-6 {
  vertical-align: top;
  text-align: left;
  display: inline-block;
  width: 59.5%; }
  @media screen and (max-width: 1080px) {
    .col-6 {
      width: 95%; } }
  @media screen and (max-width: 1080px) {
    .col-6.fright, .col-6.fleft {
      float: none; } }

.col-7 {
  vertical-align: top;
  text-align: left;
  display: inline-block;
  width: 69.5%; }
  @media screen and (max-width: 1080px) {
    .col-7 {
      width: 95%; } }
  @media screen and (max-width: 1080px) {
    .col-7.fright, .col-7.fleft {
      float: none; } }

.col-8 {
  vertical-align: top;
  text-align: left;
  display: inline-block;
  width: 79.5%; }
  @media screen and (max-width: 1080px) {
    .col-8 {
      width: 95%; } }
  @media screen and (max-width: 1080px) {
    .col-8.fright, .col-8.fleft {
      float: none; } }

.col-9 {
  vertical-align: top;
  text-align: left;
  display: inline-block;
  width: 89.5%; }
  @media screen and (max-width: 1080px) {
    .col-9 {
      width: 95%; } }
  @media screen and (max-width: 1080px) {
    .col-9.fright, .col-9.fleft {
      float: none; } }

.col-10 {
  vertical-align: top;
  text-align: left;
  display: inline-block;
  width: 99.5%; }
  @media screen and (max-width: 1080px) {
    .col-10 {
      width: 95%; } }
  @media screen and (max-width: 1080px) {
    .col-10.fright, .col-10.fleft {
      float: none; } }

@media (max-width: 760px) {
  .hide-sm {
    display: none !important; } }
@media (max-width: 1400px) and (min-width: 761px) {
  .hide-md {
    display: none !important; } }
@media (min-width: 1401px) {
  .hide-lg {
    display: none !important; } }

.show-sm {
  display: none !important; }
  @media screen and (max-width: 760px) {
    .show-sm {
      display: inline-block; } }
.show-md {
  display: none !important; }
  @media screen and (max-width: 1400px) and (min-width: 761px) {
    .show-md {
      display: inline-block; } }
.show-lg {
  display: none !important; }
  @media screen and (min-width: 1401px) {
    .show-lg {
      display: inline-block; } }

.paginator .pagination {
  text-align: center;
  border-top: 1px solid #eeeeee;
  padding: 10px;
  margin: 10px; }
  .paginator .pagination li {
    display: inline-block;
    list-style: none;
    margin: 0 3px;
    background: #f5f5f5;
    border: 1px solid #eeeeee; }
    .paginator .pagination li a {
      display: block;
      padding: 5px 15px; }

/*# sourceMappingURL=custom.css.map */
