{% extends 'index.twig' %}

{% block body %}
    <div class="media">
        <h2>{{ page.title }}</h2>
        <div class="media-body plain">
            {{ page.content|raw }}
        </div>
    </div>
{% endblock %}