.form {
    width: auto;
    margin: 5px;
    padding: 1px;
    text-align: left;
    background: #FFFFFF;
    font-size: 14px;
}

.form footer {
    padding: 15px 0;
    text-align: center;
}

.form.margin {
    margin: 100px auto 10px auto;
}

.form label {
    display: block;
    padding: 10px;
    min-height: 30px;
    margin: 1px 0;
    cursor: pointer;
}

.form label:hover {
    background: #f5f5f5;
}

.form label span.title {
    display: block;
    padding: 0 10px 0 0;
    float: left;
    width: 48%;
    text-align: right;
    line-height: 28px;
}

.form label input, .form label select {
    float: left;
}

.button, select, input, textarea {
    display: inline-block;
    outline: none;
    color: #666666;
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid #cecece;
    background: #eeeeee;
    border-radius: 2px;
    font-size: 14px;
    min-width: 200px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input[type="submit"], input[type="button"], .button {
    min-width: 80px;
}

.button.active, .button:active, .button:focus,
select.active, select:active, select:focus,
input.active, input:active, input:focus,
textarea.active, textarea:active, textarea:focus {
    border: 1px solid dodgerblue;
}

.button.disabled, .button[disabled],
section.disabled, section[disabled],
input.disabled, input[disabled],
textarea.disabled, textarea[disabled] {
    color: #808080;
    cursor: not-allowed;
    border: 1px solid #eeeeee;
}

input[type="checkbox"] {
    outline: none;
    display: block;
    margin: 6px 0;
}

input[type="checkbox"]:after {
    font: normal normal normal 18px/1 FontAwesome;
    color: #ccc;
    outline: none;
    display: inline-block;
    content: "\f046";
    background: #FFFFFF;
}

input[type="checkbox"]:checked:after {
    outline: none;
    content: "\f096";
}

.message {
    padding: 8px 16px;
    margin: 8px 16px;
    border-radius: 4px;
    border: 1px solid #eee;
    background: #f5f5f5;
    font-weight: bold;
}

.message.success {
    background: #ADE6CE;
    border: 1px solid #a6dcc5;
}