.wysiwyg {
    padding: 5px;
    border-top: 1px solid #eeeeee;
}

.wysiwyg .wy-body {
    min-height: 500px;
    outline: none;
    color: #000000;
    padding: 15px;
    line-height: 24px;
}

.wysiwyg .wy-tool {
    padding: 10px;
    background: #eeeeee;
}

.wysiwyg .wy-tool .button {
    padding: 4px 16px;
    border-radius: 0;
    min-width: 65px;
}

.wysiwyg .wy-body *:hover {
    background: #eeeeee;
}