.entry-item
  padding: 0
  display: block
  min-height: 80px
  h3,
  h2,
  h1,
  h4,
  h5,
  h6
    margin-top: 0
  img
    display: block
    max-width: 100%
  .entry-text
    cursor: pointer
  .headline
    border-bottom: 1px solid #eee
    font-size: 14px
    strong
      color: #666
    small
      float: right
      margin-top: 3px
  .entry-footer
    color: #888
    font-size: 12px
    border-bottom: 1px solid #eeeeee
    padding: 5px 5px 5px 5px
  .entry-stat
    float: right
    margin-top: -15px
  .entry-author
    img
      display: block
      max-height: 64px
      float: left
      margin: 0 8px 0 0
  .entry-description
    padding-left: 72px
    margin: 0 0 20px 0
  code
    display: block
    background: #f5f5f5
    padding: 3px 5px
    border: 1px solid #eeeeee
    border-radius: 2px
    +font-jura(14px, crimson, 600)
  blockquote
    background: dodgerblue
    border: 1px solid darken(dodgerblue, 5)
    padding: 4px 6px
    margin: 5px 10px
    border-radius: 2px
    color: white
  pre, code
    display: block
    margin: 5px 10px
    background: #f5f5f5
    border: 1px solid darken(#f5f5f5, 5)
    padding: 4px 6px
    color: crimson
    border-radius: 2px
  code
    margin: 3px 5px
    background: #444444
    border: 1px solid darken(#444444, 10)
    color: lightgreen

.wall
  padding: 25px
  margin: 15px
  border: 1px solid #eeeeee