#navigation
  margin: 0
  height: 80px
  overflow-y: hidden
  background: url(/theme/default/img/logo-bg.png) no-repeat
  +background-position(cover)

  .wrap
    display: block
    padding: 10px
    +transition(background, .3s)

  .menu
    float: right
    padding: 12px
    a
      color: white
      display: inline-block
      padding: 8px 10px

  #logo
    display: inline-block
    +font-jura(30px, #333, 500)

    img
      margin: 0 10px 0 0
      max-height: 56px
      float: left

    strong
      font-size: 28px
      float: left
      vertical-align: middle
      line-height: 56px

  ul
    padding: 0
    margin: 0
    float: right

    li
      list-style: none
      display: inline-block

    a
      display: block
      padding: 5px 20px
      background: lightcyan
      border-radius: 2px
      &:hover
        background: darken(lightcyan, 10)