#rside
  .side-block
    margin: 0 0 20px 0
    background: white
    +shadow(#cecece, 0, 3px, 2px, -1px)

    .side-block-body
      padding: 0

    .avatar
      padding: 10px 0
      text-align: center
      img
        display: block
        width: 160px
        margin: 0 auto

    .avatar-s
      display: block
      width: 96px
      height: 96px
      font-size: 48px
      line-height: 96px
      text-align: center
      margin: 0 auto
      background: lightgoldenrodyellow

    .ulogin
      display: block
      text-align: center
      padding: 10px 0

    header
      font-size: 18px
      padding: 10px
      font-weight: 600
      color: #888888
      border-bottom: 1px solid #eeeeee

      img
        max-height: 16px

      .rating
        float: right
        padding: 5px 10px
        +font-jura(16px, green, 600)

        &.neg
          color: red

    ul
      padding: 0
      margin: 0
      li
        list-style: none
        a
          display: block
          padding: 15px 15px
          text-decoration: none

          .badge
            float: right
            background: green
            color: white
            border-radius: 4px
            padding: 3px 5px
            margin: -3px 0 0 0

          &:hover
            background: #f5f5f5