@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic,800,800italic,300,300italic&subset=latin,cyrillic-ext,latin-ext,vietnamese,greek-ext,greek,cyrillic)
@import url(https://fonts.googleapis.com/css?family=Jura:400,300,500,600&subset=latin,cyrillic-ext,cyrillic,latin-ext,greek)
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css)

// Theme resources
@import "settings"
@import "fonts"
@import "util"

// Layout
@import "header"
@import "rside"
@import "entry"
@import "form"

// Basic styles
*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

.cb
  clear: both

html,
body
  height: 100%
  min-height: 100%
  margin: 0
  padding: 0
  background: $bg_color
  +font-open-sans(14px, $font_color, 600)
  +transition(all, .3s)

a
  text-decoration: none
  color: $link_color
  +font-open-sans(inherit, $font_color, 600)

  &:hover
    color: lighten($link_color, 30)
    text-decoration: underline
  &:active
    color: lighten($link_color, 50)
    text-decoration: inherit

h1, h2, h3, h4, h5, h6
  +font-open-sans(auto, $font_color, 600)

#head
  h1
    padding: 20px 0 20px 45px
    margin: 0 0 0 15px
    display: block
    width: 900px
    +font-jura(24px, $font_color, 500)

  i.fa
    font-size: 20px
    color: dodgerblue

a
  color: #214282
  &:hover
    color: lighten(#214282, 20)

hr
  display: block
  width: auto
  height: 0
  border: none
  border-bottom: 1px solid #cacaca

.center
  width: 1250px
  margin: 0 auto

#rside
  width: 300px
  float: right
  margin: 0 0 50px 15px
  opacity: 1
  +transition(all, .3s)

#container
  float: left
  width: 900px
  min-height: 500px
  margin: 0 0 50px 15px
  padding: 10px
  background: white
  opacity: 1
  +transition(all, .3s)
  +shadow(#cecece, 0, 3px, 2px, -1px)