/* Includes */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic);
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);

/* Theme */
@import "component/layout.css";
@import "component/form.css";
@import "component/widget.css";
@import "component/menu.css";
@import "component/table.css";
@import "component/modal.css";
@import "component/tooltip.css";
@import "component/preloader.css";
@import "component/wysiwyg.css";