{% extends 'base.twig' %}

{% block body %}
    <div class="card card-defailt">
        <div class="card-body">
            Welcome to NanoCore installation wizard!
        </div>
    </div>

    <div style="margin: 100px; text-align: center;">
        <a class="btn btn-success" href="?act=database">Install</a>
    </div>
{% endblock %}